:root {
  --jet-black: #0b0b0d;
  --charcoal: #474a56;
  --dusty-blue: #929aab;
  --pale-blue: #d3d5fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column; 
  background: var(--jet-black);
  cursor: pointer;
}

header {
  width: 100%;
  background-color: var(--charcoal);
  color: var(--pale-blue);
  font-size: 40px;
  padding: 1rem 0;
  position: fixed; 
}

header h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

main {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 0;
}

h2 {
  font-size: 25px;
  padding-bottom: 20px;
  color: var(--pale-blue);
}

footer {
  background-color: var(--jet-black);
  color: var(--pale-blue);
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  margin-top: 0;
  border-top: none;
}

/* defines layout for search container */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* styling for the searchbar */
.search-bar {
  display: flex;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.25s ease-out;
}

.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}

.search-bar,
.search-bar input:focus,
.search-bar input:valid {
  width: 100%;
}

.search-bar input:focus,
.search-bar input:not(:focus)+.search-btn:focus {
  outline: transparent;
}

.search-bar {
  margin: auto;
  padding: 1.5em;
  justify-content: center;
  max-width: 30em;
}

.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #171717 inset;
  padding: 0.75em;
  transform: translate(0.5em, 0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.search-bar input:focus,
.search-bar input:valid {
  background: var(--pale-blue);
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em var(--charcoal) inset;
  transform: scale(1);
}

.search-btn {
  background: var(--pale-blue);
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
  transform-origin: 0 50%;
}

.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 1;
  position: absolute;
}

.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.3em var(--charcoal) inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}

.search-btn:after {
  background: var(--charcoal);
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.1em, 0) rotate(45deg);
  transform-origin: 0 50%;
}

.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* active state */
.search-bar input:focus+.search-btn,
.search-bar input:valid+.search-btn {
  background: var(--pale-blue);
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}

.search-bar input:focus+.search-btn:before,
.search-bar input:focus+.search-btn:after,
.search-bar input:valid+.search-btn:before,
.search-bar input:valid+.search-btn:after {
  opacity: 1;
}

.search-bar input:focus+.search-btn:hover,
.search-bar input:valid+.search-btn:hover,
.search-bar input:valid:not(:focus)+.search-btn:focus {
  background: var(--pale-blue);
}

.search-bar input:focus+.search-btn:active,
.search-bar input:valid+.search-btn:active {
  transform: translateY(1px);
}

@media screen {

  body,
  input {
    color: var(--jet-black);
  }

  body {
    background: var(--jet-black);
  }

  .search-bar input {
    box-shadow: 0 0 0 0.4em var(--pale-blue) inset;
  }

  .search-bar input:focus,
  .search-bar input:valid {
    background: var(--pale-blue);
    box-shadow: 0 0 0 0.1em var(--charcoal) inset;
  }

  .search-btn {
    background: var(--pale-blue);
  }
}